.btn-shadow:hover {
  box-shadow: 0 12px 16px 0 rgb(149 149 149 / 24%), 0 17px 50px 0 rgb(93 55 55 / 19%);
}

.carousel-caption {
  bottom: 10px !important;
}

.carousel-caption>p, .carousel-caption>h3 {
  text-shadow: 0.1em 0.1em 0.5em #000000, 0.1em 0.1em 0.5em #000000, 0.1em 0.1em 0.5em #000000;
}