.txt-status {
    font-family: Prompt;
    font-style: normal;
    font-size: 20px;
    line-height: 42px;
}

.txt-bold {
    font-weight: bold;
}

.txt-status-success {
    color: #009329;
}

.txt-status-danger {
    color: #F00101;
}

.txt-light {
    color: hsla(0, 0%, 100%, .8);
}

.card {
    width: 7.3rem;
    background-color: transparent !important;
}

img {
    opacity: 0.8;
}

.text-custom-back {
    font-size: 12px;
    text-shadow: 0.1em 0.1em 0.2em #000000, 0.1em 0.1em 0.2em #000000, 0.1em 0.1em 0.2em #000000;
}

.text-custom-front {
    text-shadow: 3px 3px 30px #ffffff
}

.card-text-back {
    line-break: anywhere;
    line-height: normal;
}

.swal-overlay {
    background-color: rgb(151 151 151 / 30%);
}

.alert-fixed{
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1000;
}

.progress{
    height: 10px !important;
    background-color: #59595f7a !important;
}

.tag{
    font-size: 14px;
    cursor: pointer;
}

.tag:focus, .tag:active {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(23,162,184,.5);
}

.tag:hover {
    background-color: #117a8b;
}

.btn-shadow:hover {
    box-shadow: 0 12px 16px 0 rgb(149 149 149 / 24%), 0 17px 50px 0 rgb(93 55 55 / 19%);
}

.disabled {
    cursor: not-allowed;
}

.pointer {
    cursor: pointer;
}