.txt-status {
    font-family: Prompt;
    font-style: normal;
    font-size: 20px;
    line-height: 42px;
}

.txt-bold {
    font-weight: bold;
}

.txt-status-success {
    color: #009329;
}

.txt-status-danger {
    color: #F00101;
}

.txt-light {
    color: hsla(0, 0%, 100%, .8);
}

.card {
    width: 7.3rem;
    background-color: transparent !important;
}

img {
    opacity: 0.8;
}

.text-custom-back {
    font-size: 12px;
    text-shadow: 0 0 0.2em #000000, 0 0 0.2em #000000, 0 0 0.2em #000000;
}

.text-custom-front {
    text-shadow: 3px 3px 30px #ffffff
}

.card-text-back {
    line-break: anywhere;
    line-height: normal;
}

.swal-overlay {
    background-color: rgba(255, 255, 255, 0.6);
  }