.txt-status {
    font-family: Prompt;
    font-style: normal;
    font-size: 20px;
    line-height: 42px;
}

.txt-bold {
    font-weight: bold;
}

.txt-status-success {
    color: #009329;
}

.txt-status-danger {
    color: #F00101;
}

.txt-dark {
    color: hsla(0,0%,100%,.8);
}