html, body {
  height: 100%;
}

/* Hide scrollbar for IE, Edge and Firefox */
#root {
  height: 100%;
}

.scrollbar-auto{
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #FAFAFA !important; */
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1e1e2f;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, .6);
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(136, 136, 136, 1);
}